main article .gourmet {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      justify-self: center;
      justify-items: center;
      background-color: darkslategray;
      width: 100%;
      padding: 10px 0;
      text-align: center;
}

main article .gourmet .feedback {
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      text-align: center;
      max-width: 300px;
      height: fit-content;
      width: 100%;
      gap: 10px;
}

main article .gourmet h4 {
      color: #F4CE14;
}

main article .gourmet p {
      color: white;
      font-size: 1.2rem;
}

main article .gourmet .name {
      color: #F4CE14;
}

main article .gourmet img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      border-radius: 5px;
}

main footer {
      display: grid;
      gap: 50px;
}

main footer section .about-little-lemon {
      display: grid;
      gap: 50px;
      justify-self: center;
      align-items: center;
      justify-items: center;
}

main footer section .about-little-lemon p {
      font-size: 1rem;
      display: flex;
}

main footer section .about-little-lemon .about-img img {
      max-width: 200px;
      max-height: 200px;
      width: 100%;
      height: 100%;
      border: 1px black solid;
}

main footer section .about-little-lemon .about-img {
      display: flex;
      flex-direction: column;
      gap: 10px;
}

main footer section .about-little-lemon .heading h6 {
      color: #F4CE14;
}

main footer section .about-little-lemon .heading {
      max-width: 300px;
      height: fit-content;
      align-items: start;
}

main footer section .about-little-lemon .dis {
      max-width: 300px;
      height: fit-content;
      width: 100%;
}

main footer section .about-little-lemon .dis p {
      font-size: 1.1rem;
}

main footer article {
      background-color: darkslategray;
      padding-top: 80px;
      padding-bottom: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;
      row-gap: 30px;

}
main footer article p{
      color: #F4CE14;
      font-size: 1.1rem;
}

main footer article .logo-agin img {
      max-width: 150px;
      background-color: white;
      border: 1px solid white;
      border-width: 20px;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-self: center;
      gap: 10px;

}

main footer article .contact-us {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 30px;
}

main footer article .dormant-navigation {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 30px;
}

main footer article .social-media-links {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0 30px;
}
main footer article a{
      color: white;
      text-decoration:none;
      font-size: 1rem;
      font-family: Georgia, 'Times New Roman', Times, serif;
}
a:hover{
      color: black;
      text-decoration:underline;
}

